## Tweets Analysis

This notebook is the starting point of an algorithm for tweets analysis. It means that we want to provide a notebook that can evaluate the values of Bitcoins by analyzing a huge number of tweets.

Let's start importing useful libraries and reading data from the folder Data.

In [14]:
import numpy as np
import pandas as pd
import os
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from tqdm import tqdm
from collections import Counter
#nltk.download('punkt')

In [12]:
data_path = os.path.join('Data', 'compounded_df.csv')
tweets = pd.read_csv(data_path)
print("The dataset contains " + str(tweets.shape[0]) + " rows and " + str(tweets.shape[1]) + " columns.")

The dataset contains 800047 rows and 10 columns.

In [13]:
tweets.head()

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
0,1521085224884518915,Wordle 317 3/6\n\n🟩⬜⬜⬜🟨\n🟩🟩🟩🟩⬜\n🟩🟩🟩🟩🟩,1260604118,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
1,1521085224855158784,Mon daron : https://t.co/5qFZKQWNc8,1371148461308051459,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
2,1521085224859611137,Don’t cheat with out asking it’s very disrespe...,947441279771668482,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
3,1521085224871997440,It's coffee time ☕,26672170,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
4,1521085229045366787,@JulieKo49989021 Couple either bank own not de...,1459553690843598849,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0

Each tweet sample is composed by different columns
- id : unique tweet ID
- text : text of the tweet
- author_id : who posted the tweet
- created_at : datetime of the creation of the tweet
- lang : language of the tweet
- geo : geolocalization of the tweet
- retweet_count : number of retweets of the tweet
- reply_count : number of replies of the tweet
- like_count : number of likes of the tweet
- quote_count : number of quotes of the tweet

In [18]:
red_tweets = tweets[:1000]
author_count = Counter(red_tweets['author_id'])
print(len(author_count))

992

In [24]:
tweets[tweets['geo'] != 'nan'][:10]

C:\Users\masigi\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
0,1521085224884518915,Wordle 317 3/6\n\n🟩⬜⬜⬜🟨\n🟩🟩🟩🟩⬜\n🟩🟩🟩🟩🟩,1260604118,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
1,1521085224855158784,Mon daron : https://t.co/5qFZKQWNc8,1371148461308051459,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
2,1521085224859611137,Don’t cheat with out asking it’s very disrespe...,947441279771668482,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
3,1521085224871997440,It's coffee time ☕,26672170,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
4,1521085229045366787,@JulieKo49989021 Couple either bank own not de...,1459553690843598849,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0
5,1521085229049708547,@eigenrobot I've got friends doing econ rn the...,1382463246368575489,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0
6,1521085229078704129,Bajwa and his team should resign immediately. ...,1533390254,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0
7,1521085229049462786,#Monday\nWordle 317 3/6\n\n⬜⬜⬜⬜⬜\n⬜⬜🟨🟨🟩\n🟩🟩🟩🟩🟩,705462126861627392,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0
8,1521085229066166274,@NFTLabz_ fuck monday 🤦🏻‍♂️🤣,1503322091113824263,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0
9,1521085233243869190,"@Msmenalicious In benue, this is a delicacy.",234715484,2022-05-02 11:12:34+00:00,en,NaN,0,0,0,0

In [23]:
Counter(tweets[tweets['geo']])

KeyError: "None of [Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,\n              ...\n              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan],\n             dtype='float64', length=800047)] are in the [columns]"