In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/compounded_df1.csv')
df.head()

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
0,1526517511226806276,@214yongss let's not say these things now... h...,1363849145505767430,2022-05-17 10:58:30+00:00,en,NaN,0,0,0,0
1,1526517511235452928,Make it easy . \nHow is the communication betw...,1526228625766629376,2022-05-17 10:58:30+00:00,en,NaN,0,0,0,0
2,1526517511235190786,@CFCMod_ He won the fa cup and community shiel...,1055529569585897472,2022-05-17 10:58:30+00:00,en,NaN,0,0,0,0
3,1526517515425583104,@cocsent Sore,1518420322747576320,2022-05-17 10:58:31+00:00,en,NaN,0,0,0,0
4,1526517515442061312,My friend is leaving the United States to live...,1373568925766651904,2022-05-17 10:58:31+00:00,en,NaN,0,0,0,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132254 entries, 0 to 132253
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             132254 non-null  int64
 1   text           132254 non-null  object
 2   author_id      132254 non-null  int64
 3   created_at     132254 non-null  object
 4   lang           132254 non-null  object
 5   geo            0 non-null       float64
 6   retweet_count  132254 non-null  int64
 7   reply_count    132254 non-null  int64
 8   like_count     132254 non-null  int64
 9   quote_count    132254 non-null  int64
dtypes: float64(1), int64(6), object(3)
memory usage: 10.1+ MB

In [5]:
df.describe(include='all')

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
count,1.322540e+05,132254,1.322540e+05,132254,132254,0.0,132254.000000,132254.000000,132254.000000,132254.000000
unique,NaN,131961,NaN,28806,1,NaN,NaN,NaN,NaN,NaN
top,NaN,Good morning,NaN,2022-05-12 20:11:04+00:00,en,NaN,NaN,NaN,NaN,NaN
freq,NaN,6,NaN,17,132254,NaN,NaN,NaN,NaN,NaN
mean,1.526872e+18,NaN,8.597615e+17,NaN,NaN,NaN,0.009550,0.012295,0.027606,0.003576
std,1.245940e+15,NaN,6.338413e+17,NaN,NaN,NaN,0.588997,0.119291,0.709933,0.429716
min,1.524503e+18,NaN,7.650000e+02,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,1.525763e+18,NaN,2.307831e+09,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
50%,1.527121e+18,NaN,1.157722e+18,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
75%,1.528042e+18,NaN,1.427748e+18,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
max,1.528662e+18,NaN,1.528661e+18,NaN,NaN,NaN,111.000000,11.000000,140.000000,72.000000

In [6]:
def load_embed(file):
    def get_coefs(word,*arr): 
        return word, np.asarray(arr, dtype='float32')
    
    if file == '../input/embeddings/wiki-news-300d-1M/wiki-news-300d-1M.vec':
        embeddings_index = dict(get_coefs(*o.split(" ")) for o in open(file) if len(o)>100)
    else:
        embeddings_index = dict(get_coefs(*o.split(" ")) for o in open(file, encoding='latin'))
        
    return embeddings_index