In [7]:
import pandas as pd
import numpy as np

In [11]:
dt = pd.read_csv('../data/tweets-CUSTOM.csv')

print(dt.shape)
dt.head()

(764, 7)

,id,text,author_id,created_at,public_metrics,lang,geo
0,1517236891606790144,Believe in the future,44196397,2022-04-21T20:20:38.000Z,"{'retweet_count': 16506, 'reply_count': 11144,...",en,NaN
1,1517219715520901121,@APompliano Tesla is really a dozen or more st...,44196397,2022-04-21T19:12:23.000Z,"{'retweet_count': 2541, 'reply_count': 1582, '...",en,NaN
2,1517218742291382272,@SpaceX Starlink satellites deployed into init...,44196397,2022-04-21T19:08:31.000Z,"{'retweet_count': 1710, 'reply_count': 973, 'l...",en,NaN
3,1517215736606957573,And authenticate all real humans,44196397,2022-04-21T18:56:34.000Z,"{'retweet_count': 19505, 'reply_count': 14106,...",en,NaN
4,1517215588376092673,@johnkrausphotos Indeed (heavy sigh),44196397,2022-04-21T18:55:59.000Z,"{'retweet_count': 368, 'reply_count': 608, 'li...",en,NaN

In [12]:
dt.describe(include='all')

,id,text,author_id,created_at,public_metrics,lang,geo
count,7.640000e+02,764,7.640000e+02,764,764,764,0.0
unique,NaN,426,NaN,126,223,1,NaN
top,NaN,RT @ApeborgToken: #APEBORG üêµü¶ßü¶ç\n\nü¶ç #LAUNCH ON...,NaN,2022-04-22T12:48:20.000Z,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",en,NaN
freq,NaN,160,NaN,45,204,764,NaN
mean,1.517405e+18,NaN,1.100597e+18,NaN,NaN,NaN,NaN
std,3.338763e+14,NaN,5.981577e+17,NaN,NaN,NaN,NaN
min,1.515060e+18,NaN,5.798502e+06,NaN,NaN,NaN,NaN
25%,1.517485e+18,NaN,9.687039e+17,NaN,NaN,NaN,NaN
50%,1.517485e+18,NaN,1.438596e+18,NaN,NaN,NaN,NaN
75%,1.517485e+18,NaN,1.500058e+18,NaN,NaN,NaN,NaN
max,1.517486e+18,NaN,1.517485e+18,NaN,NaN,NaN,NaN

In [14]:
dt.public_metrics[0]

"{'retweet_count': 16506, 'reply_count': 11144, 'like_count': 207693, 'quote_count': 1356}"

In [ ]:
for i, row in dt.iterrows():
    dt.loc[i, ]

In [16]:
import json

a = '{'tmp':1}''

print(type(json.dumps(a)))

<class 'str'>