In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/data1.csv')
df.head()

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
0,1521085224884518915,Wordle 317 3/6\n\nðŸŸ©â¬œâ¬œâ¬œðŸŸ¨\nðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©â¬œ\nðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©ðŸŸ©,1260604118,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
1,1521085224855158784,Mon daron : https://t.co/5qFZKQWNc8,1371148461308051459,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
2,1521085224859611137,Donâ€™t cheat with out asking itâ€™s very disrespe...,947441279771668482,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
3,1521085224871997440,It's coffee time â˜•,26672170,2022-05-02 11:12:32+00:00,en,NaN,0,0,0,0
4,1521085229045366787,@JulieKo49989021 Couple either bank own not de...,1459553690843598849,2022-05-02 11:12:33+00:00,en,NaN,0,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800047 entries, 0 to 800046
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             800047 non-null  int64
 1   text           800047 non-null  object
 2   author_id      800047 non-null  int64
 3   created_at     800047 non-null  object
 4   lang           800047 non-null  object
 5   geo            0 non-null       float64
 6   retweet_count  800047 non-null  int64
 7   reply_count    800047 non-null  int64
 8   like_count     800047 non-null  int64
 9   quote_count    800047 non-null  int64
dtypes: float64(1), int64(6), object(3)
memory usage: 61.0+ MB

In [5]:
df.describe(include='all')

,id,text,author_id,created_at,lang,geo,retweet_count,reply_count,like_count,quote_count
count,8.000470e+05,800047,8.000470e+05,800047,800047,0.0,800047.000000,800047.000000,800047.000000,800047.000000
unique,NaN,796328,NaN,148312,1,NaN,NaN,NaN,NaN,NaN
top,NaN,TitanX is the next big launchpad @TitanX_Proje...,NaN,2022-04-29 14:30:00+00:00,en,NaN,NaN,NaN,NaN,NaN
freq,NaN,42,NaN,32,800047,NaN,NaN,NaN,NaN,NaN
mean,1.520337e+18,NaN,8.665560e+17,NaN,NaN,NaN,0.020120,0.012683,0.028696,0.002744
std,4.624079e+14,NaN,6.331033e+17,NaN,NaN,NaN,5.308805,0.131232,0.530439,0.281312
min,1.519727e+18,NaN,2.910000e+02,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
25%,1.519967e+18,NaN,2.281644e+09,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
50%,1.520146e+18,NaN,1.172461e+18,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
75%,1.520837e+18,NaN,1.435986e+18,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000
max,1.521095e+18,NaN,1.521095e+18,NaN,NaN,NaN,3997.000000,16.000000,91.000000,46.000000